html {
  height: 100%;
}

body {
  background-color:lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: blue;
  font-family: "Lucida Console", "Courier New", monospace;
}

main {
  text-align: center;
}

#datetime {
  background-color: white;
  width: 300px;
  margin: auto;
  border: 1px solid grey;
}